@import url('https://fonts.googleapis.com/css?family=Exo+2|Kanit');

* {
}

.wrapper {
	width: 1100px;
	margin: 20px auto 20px auto;
	background-color: #ffffff;
	height: 100%;
}

h1 {
	font-family: 'Kanit', sans-serif;
	width: 100%;
}

h2 {
	text-align: center;
	border: 1px solid black;
	color: white;
	background-image: url("../img/felt.jpg");
}

p {
	font-family: Arial;
}

.cardSize {
	width: 180px;
	margin-top: 15px;
}

.dSide {
	width: 31%;
    overflow: auto;
    text-align:center;
    position: fixed;
}

table {
	width: 100%;
	height: 100%;
}

td {
	text-align: center;
}

button {
	width: 150px;
	padding: 16px 32px;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid #555555;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.4s;
}

#pName {
	text-align: center;
	border: 1px solid black;
	color: white;
	background-image: url("../img/felt.jpg");
	width: 100%;
	height: 27;
	font-family: 'Times New Roman';
	font-weight: bold;
	padding: 0px;
	font-size: 1.5em;
}

button:hover {
	background-color: #555555;
	color: white;
}

#rulesButton {
	width: 125px;
	float: right;
	margin-right: 4px;
}

.site_header {
	display: flex;
	align-items: center;
}

#imgLogo {
	width: 95px;
	margin-right: 10px;
}

.align-center {
	text-align: center;
}

.score {
	font-weight: bold;
	font-family: 'Kanit', sans-serif;
	padding-bottom: 3px;
}

#game_buttons {
	padding-top: 25px;
}

#ace_buttons button {
	width: 100px;
}

.winner {
	background-color: green;
}

.divider{
    position: absolute;
    left:50%;
    top:26%;
    bottom: 47%;
    border-right: 3px dotted black;
}

footer {
	margin-top: 50px;
	background-color: #ccc;
	padding: 7px;
	border-bottom: 2px solid  #555555;
	font-family: "Kanit", sans-serif;
	padding-left: 20px;
}

/* RULES POPUP*/
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}
.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	background-color: lightgray;
}
.close-button:hover {
	background-color: darkgray;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
